<tr>
	<%= render 'score', :score => @score_card.average_price_earnings_ratio.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="< 12 | 12 - 16 | > 16"></span> KGV 5 Jahre
	</td>
	<% if @score_card.average_price_earnings_ratio.succeeded %>
		<td>
			Value: <%= number_with_precision @score_card.average_price_earnings_ratio.average, :precision => 2 %>
		</td>
		<td>
			<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#perAvg">
  			Show
			</button>
		</td>
		<td></td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>
