<tr>
	<%= render 'score', :score => @score_card.current_price_earnings_ratio.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="< 12 | 12 - 16 | > 16"></span> KGV aktuell
	</td>
	<% if @score_card.current_price_earnings_ratio.succeeded %>
		<td>
			Value: <%= @score_card.current_price_earnings_ratio.value %>
		</td>
		<td>
			Year: <%= @score_card.current_price_earnings_ratio.this_year %>
		</td>
		<td></td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>