<div class="row">
	<%= render 'score', :score => @score_card.ebit_margin.score %>
	<div class="col-md-3">
		EBIT-Marge LJ: <img src="/help.png" title="> 12% | 12% - 6% | < 6%">
	</div>
	<% if @score_card.ebit_margin.succeeded %>
		<div class="col-md-2">
			Value: <%= @score_card.ebit_margin.value %>%
		</div>
		<div class="col-md-2">
			Year: <%= @score_card.ebit_margin.last_year %>
		</div>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</div>