<div>
	<%= render 'score', :score => @score_card.equity_ratio.score %>
  Eigenkapitalquote LJ: <img src="/help.png" title="> 25% | 25% - 15% | < 15%">
  <% if @score_card.equity_ratio.succeeded %>
		<br>
		&nbsp;&nbsp;Jahr: <%= @score_card.equity_ratio.last_year %><br>
		&nbsp;&nbsp;Wert: <%= @score_card.equity_ratio.value %>%
	<% else %>%
		<%= render 'failed' %>
	<% end %>
</div>