<tr>
	<%= render 'score', :score => @score_card.momentum.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="TODO"></span> Kursmomentum steigend
	</td>
	<% if @score_card.momentum.succeeded %>
		<td>
			Half year ago: <%= @score_card.momentum.stock_price_dev_half_year.score %>
		</td>
		<td>
			One year ago: <%= @score_card.momentum.stock_price_dev_one_year.score %>
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>