<tr>
	<%= render 'score', :score => @score_card.reaction.score %>
	<td>		
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="positiv | zwischen -1% und +1% | negativ"></span> Reaktion auf Quartalszahlen
	</td>
	<% if @score_card.reaction.succeeded %>
		<td>
			Value: <%= number_with_precision (@score_card.reaction.share_perf - @score_card.reaction.index_perf), :precision => 2 %>%
		</td>
		<td>
			relative to <%= @score_card.share.stock_index.name %>
		</td>
		<td>
			<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#reaction">
  			Show
			</button>
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>

