<tr>
	<%= render 'score', :score => @score_card.reversal.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Perf. in jedem Mt. < DAX | ansonsten | Perf. in jedem Mt. > DAX"></span> Dreimonatsreversal
	</td>
	<% if @score_card.reversal.succeeded %>
		<td colspan=3>
			<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#reversal">
  			Show
			</button>			
		</td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>

