<tr>
	<%= render 'score', :score => @score_card.return_on_equity.score %>
	<td>
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="> 20% | 20% - 10% | < 10%"></span> RoE&nbsp;LJ
	</td>
	<% if @score_card.return_on_equity.succeeded %>
		<td>
			Value: <%= @score_card.return_on_equity.value %>%
		</td>
		<td>
			Year: <%= @score_card.return_on_equity.last_year %>
		</td>
		<td></td>
	<% else %>
		<%= render 'failed' %>
	<% end %>
</tr>
