<% if score == 1 %>
  <span class="pos">+1</span>
<% elsif score == 0 %>
  <span class="neutral">0</span>
<% elsif score == -1%>
	<span class="neg">-1</span>
<% else %>
  <span class="neg">?</span>
<% end %>
