<!-- Modal -->
<div class="modal fade" id="busyScreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-time"></span> Evaluating Share</h4>
      </div>
      <div class="modal-body">
        Please stand by...
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>