<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><%= link_to 'Shares', shares_path %></li>
		  <li class="active">Edit</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Edit Share</h1>
	</div>
</div>

<%= render 'form' %>
