<%= link_to 'Show All', shares_path(), {:class => "btn btn-primary"} %> 
<br>
<br>
<h1>Editing share</h1>
<br>
<%= render 'form' %>

<%= link_to 'Show', @share %> |
<%= link_to 'Back', shares_path %>
