<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
		  <li><%= link_to 'Stock Indices', stock_indices_path %></li>
		  <li class="active">Edit</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Edit the Values of This Stock Index</h1>
	</div>
</div>

<%= render 'form' %>

