/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 *
 */
body {
	margin: 0;
	padding: 0;
	color: #222222;
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height: 1.67;
	background-color: white;
	min-width: 1000px;
	overflow-y: scroll;
}

h1 {
	margin: 0;
	color: #777;
	border-bottom: 1px solid #CCC;
}

#content {
	margin: 5px;
	clear:left
}

#notice {
  color: green;
}

.success {
	background-color: #38DF64;
}

.failed {
	background-color: #FF4040;
}

.pos {
	background-color: #38DF64;
}

.neg {
	background-color: #FF4040;
}

.neutral {
	background-color: orange;
}

#top_nav {
	background-color: #444444;
	font-weight: bold;
	line-height: 40px;
}

#top_nav > img{
		float: left;
		margin: 0 20px 0 10px;
}

#top_nav > ul {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

#top_nav > ul li {
	margin: 0 30px 0 0;
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	white-space: nowrap;
	display: inline;
	float: left;
}

#top_nav > ul li.active {
	background-image:url("active.png");
	background-position:center bottom;
	background-repeat:no-repeat;
}

#top_nav > ul li a {
	text-decoration: none;
	color: #FFFFFF;
}